body {
    font-family: Arial, sans-serif;
    width:auto;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
    color: #333;
}

header {
    background-color: #2d6ca0;
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
    text-align: center;
}

.button-SYX {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #4894f8;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

.button-SYH {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #5cb85c;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

.button-ZLY {
    display: inline-block;
    padding: 10px 12px;
    font-size: 16px;
    color: white;
    background-color: #5f1fd6;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

.button-XH {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #ebe835;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

.button:hover {
    background-color: #4cae4c;
}

footer {
    margin-top: 260px;
    text-align: center;
    background-color: #2d6ca0;
    color: white;
    padding: 10px;
}